*{
	margin: 0;
	padding: 0px 10px 0px 10px;
}
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: : 10;
}
.navbar-brand img
{
  height: 100px;
  padding-left: 30px;
}
.navbar-nav li
{
  padding: 0 10px;
}
.navbar-nav li a
{
  float:right;
  text-align: left;
}
.navbar-nav li a:hover
{
  color: #007bff!important;
}
.navbar
{
  background: #fff;
}
.navbar-toggler
{
  border: none!important;
}
.nav-link
{
  color: #555!important;
  font-weight: 600;
  font-size: 16px;
}
#navbarSupportedContent
{
	padding-right: 90px;
}
table{
  top: 100px;
  width: 800px;
}
th,td
{
  padding: 10px;
}
tr:nth-child(even)
{
background-color: #f2f2f2
}
