*{
	margin: 0;
	padding: 0;
}
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: : 10;
  padding: 0px 10px 0px 10px;
}
.navbar-brand img
{
  height: 100px;
  padding-left: 30px;
}
.navbar-nav li
{
  padding: 0 10px;
}
.navbar-nav li a
{
  float:right;
  text-align: left;
}
#nav-bar ul li a:hover
{
  color: #007bff!important;
}
.navbar
{
  background: #fff;
}
.navbar-toggler
{
  border: none!important;
}
.nav-link
{
  color: #555!important;
  font-weight: 600;
  font-size: 16px;
}
/*--Slider--*/
#Slider
{
  width: 100%;
}
.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5
{
  color:#fff;
  font-size: 50px;
}
/*--About--*/
#about
{
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
}
/*--Footer--*/
#Footer
{
  background-color: #000;
}
.footer-brand img
{
  height: 60px;
  padding-left: 30px;
}
